.u-section-1 .u-sheet-1 {
  min-height: 372px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 341px;
  margin: 8px 0 0 535px;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  margin: -326px auto 49px 53px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-left: 335px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-left: 115px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-left: 40px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 751px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 746px;
  margin: 20px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 344px;
  width: 1057px;
  grid-gap: 17px;
  margin: 125px 0 60px auto;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-2 .u-gallery-1 {
    height: 305px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1134px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-gallery-1 {
    height: 727px;
    width: 720px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2204px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1670px;
    width: 540px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1508px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1064px;
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1747px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 21px;
}

.u-section-3 .u-shape-1 {
  width: 324px;
  height: 396px;
  margin: 20px auto 0 0;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 372px;
  margin: -331px 891px 0 28px;
}

.u-section-3 .u-shape-2 {
  width: 324px;
  height: 396px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-custom-html-2 {
  height: auto;
  min-height: 372px;
  margin: -355px 891px 0 28px;
}

.u-section-3 .u-image-1 {
  width: 588px;
  height: 814px;
  margin: -850px 17px 0 auto;
}

.u-section-3 .u-shape-3 {
  width: 324px;
  height: 396px;
  margin: 36px auto 0 0;
}

.u-section-3 .u-custom-html-3 {
  height: auto;
  min-height: 372px;
  margin: -355px 891px 60px 28px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-custom-html-1 {
    margin-left: 0;
    width: 639px;
    margin-right: 719px;
  }

  .u-section-3 .u-custom-html-2 {
    margin-right: 719px;
    margin-left: 0;
  }

  .u-section-3 .u-custom-html-3 {
    margin-right: 719px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-custom-html-1 {
    margin-right: 499px;
  }

  .u-section-3 .u-custom-html-2 {
    margin-right: 499px;
  }

  .u-section-3 .u-custom-html-3 {
    margin-right: 499px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1681px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 540px;
    margin-right: 319px;
  }

  .u-section-3 .u-custom-html-2 {
    margin-right: 319px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 748px;
    margin-right: 0;
  }

  .u-section-3 .u-custom-html-3 {
    margin-right: 319px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1404px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 340px;
    margin-right: 119px;
  }

  .u-section-3 .u-custom-html-2 {
    margin-right: 119px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 471px;
  }

  .u-section-3 .u-custom-html-3 {
    margin-right: 119px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 568px;
}